.searchbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
}
.searchbox input {
  border-radius: 10px;
  height: 40px;
}
