.background {
  position: relative;
}
.background img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.gallary {
  position: absolute;
  top: 50px;
  left: 200px;
}
.gallary img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}
.title {
  position: absolute;
  top: 100px;
  left: 50px;
  background: black;
  border-radius: 10px;
  transition: 1s;
}
.title a {
  text-decoration: none;
  color: white;
}
.title:hover {
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .list {
    gap: 78px;
  }
  .gallary {
    left: 250px;
  }
}
.title a:hover {
  text-decoration: underline;
}
